* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: $body-color;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 83% 17%;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
    "header levels"
    "task-description levels"
    "display levels"
    "editors levels"
    "footer levels";
}

.container {
  width: 95%;
  margin: 0 auto;
}