//colors
$body-color: #2d2d2d;
$main-text-color: #bbbbbb;

$levels-backgr-color: #1e1e1e;
$level-text-color:#757575;
$level-marker-passed-color: #0ac799;

$editor-header-backgr-color: #313131;
$css-editor-line-backgr-color: #dbdbdb;
$css-editor-workspace-backgr-color: #f1f1f1;
$html-editor-line-backgr-color: #1b1b1b;
$html-editor-workspace-backgr-color: #262626;
$editor-workspace-text-color:#818181;
$css-input-anim-color: #5fb39e6b;
$css-input-text-color: #000000;

$table-bar-color: #de8e0d;
$table-edge-color: #945e09;
$table-leg-color: #5d3b06;

//font-sizes
$title-font-size: 2rem;
$level-text-font-size: 1.8rem;
$editor-title-font-size: 1.5rem;
$description-font-size: 2rem;